.title {
  color: #ffd43b;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.subtitle {
  color: #ffd43b;
  font-size: 15px;
  font-weight: bold;
}

.ul {
  color: white;
  list-style: none;
  padding: 0;
}

.center {
  max-width: 400px;
  margin: 0 auto;
}
