.navbar {
  background-color: #00000018;
  height: 60px;
  padding: 20px;

  margin: 0 auto;

  border-radius: 2px;

  z-index: 5;
  position: relative;
}

.logoText {
  margin: 0 auto;
  float: left;

  font-weight: bold;
  font-size: 18px;

  color: #dadad6;
}
