.searchModal {
  position: absolute;

  background-color: #0f2543;
  width: 357px;
  padding: 8px;
  padding-top: 20px;

  margin: 0 auto;
  margin-top: 10px;
  left: 0;
  right: 0;

  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  box-shadow: 0px 4px 4px rgba(22, 36, 52, 0.09);
  backdrop-filter: blur(11px);
  overflow-y: scroll;
}

.title {
  color: #ffd43b;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 600;
  padding-left: 5px;
  font-size: 15px;
}

.result {
  font-weight: 600;
  font-size: 15px;
  border-radius: 8px;
  height: 43px;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 43px;
}

.result:hover {
  background-color: #073157;
  cursor: pointer;
}

.displayNone {
  display: none;
}
