:root {
  --primary-color: rgb(230, 230, 230);
  --accent-color: rgb(30, 173, 255);
  --background-color: rgb(20, 20, 20);
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: "Inter", sans-serif;
  line-height: 140%;
  padding: 20px;
}
