@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

.container {
  display: flex;
  flex-flow: wrap;
}

.container > * {
  flex: 1 100%;
}

.description {
  float: left;
  max-width: 450px;
}

.linkButton {
  text-decoration: none;
  color: var(--accent-color);
  transition: all ease-in-out 0.07s;
  cursor: pointer;
}

.linkButton:hover {
  color: rgb(195, 255, 0);
  cursor: pointer;
}

.portfolioButton {
  float: right;
  text-decoration: none;
  color: var(--accent-color);
  transition: all ease-in-out 0.07s;
}

.portfolioButton:hover {
  color: rgb(195, 255, 0);
  cursor: pointer;
}

.figureContainer {
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;
  max-height: 90vh;
  text-align: center;
}

.figureImage {
  max-width: 100%;
  max-height: inherit;
  object-fit: contain;
}

.figureText {
  margin-top: 4px;
  text-align: center;
  max-width: 100%;
  font-size: 12px;
  line-height: 120%;
  opacity: 0.75;
}

.lineheight15 {
  line-height: 0.5;
}