@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

.description {
  float: left;
  max-width: 450px;
}

.portfolioButton {
  float: right;
  text-decoration: none;
  color: var(--accent-color);
  transition: all ease-in-out 0.07s;
}

.portfolioButton:hover {
  color: #fff9f4;
}
